.navbar-default {
    position: absolute;
}

.banner {
    background-image: url(http://oc06pejhd.bkt.clouddn.com/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 573px;
    margin-bottom: 24px;
}

.banner .title {
    font-size: 40px;
    letter-spacing: 8px;
    margin-top: 200px;
}

.banner .sub-title {
    font-size: 32px;
    font-weight: bold;
    padding-top:10px;
}

.banner .sub-title .old-price{
    text-decoration: line-through;
    color: #aaa;
}

.banner .sub-title .now-price{
    color: #000;
    font-weight: bold;
}

.banner .teacher {
    margin-top: 20px;
}

.banner .teacher .avatar {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-position: 18px center;
    background: url(http://oc06pejhd.bkt.clouddn.com/icon/teacher.png);
    background-position: -15px 0;
    background-repeat: no-repeat;
    float: left;
}


.banner .teacher .summary{
    line-height: 42px;
    margin-left: 9px;
}

.banner .btn-wrapper {
    margin-top: 45px;
}

.banner .btn-wrapper .btn{
    border-radius: 3px;
    padding: 14px 92px;
    font-size: 20px;
    outline: none;
}

.banner .btn-wrapper .btn span.glyphicon {
    font-size: 15px;
    line-height: 15px;
}

.footer-service {
    background-color: #eee;
    padding: 45px 0 20px;
}

.footer-service .title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 12px;
}

.footer-service .desc {
    color: #666;
    font-size: 13px;
    line-height: 1.6;
    font-weight: bold;
    padding-bottom: 25px;
}

.pre-footer {
    background-image: url(http://oc06pejhd.bkt.clouddn.com/pre-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 262px;
    margin-top: 50px;
}

.footer {
    color: #fff;
    line-height: 100px;
    background-color: #ff7200;
}

.footer .copyright {
    color: #ffaf85;
    font-weight: bold;
}

.footer .content a{
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 768px) {
    .banner .title {
        font-size: 35px;
        letter-spacing: 3px;
        margin-top: 165px;
    }
    .banner .sub-title {
        font-size: 24px;
        font-weight: bold;
        padding-top:10px;
    }
    .banner .teacher {
        margin-top: 20px;
        text-align: center;
    }

    .footer-service .title {
        padding-bottom: 2px;
    }

    .banner .teacher, .banner .sub-title, .banner .title,
    .section .title, .nav>li {
        padding: 0 15px;
    }

    .footer-service {
        background-color: #eee;
        padding: 45px 15px 20px;
    }
    .pre-footer, .navbar-right {
        display: none;
    }
    .footer {
        color: #fff;
        line-height: 30px;
        padding: 15px;
    }
    .footer .content {
        text-align: left !important;
    }
}

