.banner {
    background-image: url(http://oc06pejhd.bkt.clouddn.com/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 573px;
    margin-bottom: 24px;
}

.banner .title {
    font-size: 40px;
    letter-spacing: 8px;
    margin-top: 200px;
}

.banner .sub-title {
    font-size: 32px;
    font-weight: bold;
    padding-top:10px;
}

.banner .sub-title .old-price{
    text-decoration: line-through;
    color: #aaa;
}

.banner .sub-title .now-price{
    color: #000;
    font-weight: bold;
}

.banner .teacher {
    margin-top: 20px;
}

.banner .teacher .avatar {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-position: 18px center;
    background: url(http://oc06pejhd.bkt.clouddn.com/icon/teacher.png);
    background-position: -15px 0;
    background-repeat: no-repeat;
    float: left;
}


.banner .teacher .summary{
    line-height: 42px;
    margin-left: 9px;
}

.banner .btn-wrapper {
    margin-top: 45px;
}

.banner .btn-wrapper .btn{
    border-radius: 3px;
    padding: 14px 92px;
    font-size: 20px;
    outline: none;
}

.banner .btn-wrapper .btn span.glyphicon {
    font-size: 15px;
    line-height: 15px;
}

.section .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 12px;
}

.section .title a.more{
    font-size: 14px;
    float: right;
    padding-top: 11px;
}

.section .title a.more span.glyphicon{
    font-size: 9px;
    -webkit-transform: scale(0.75);
}

.footer-service {
    background-color: #eee;
    padding: 45px 0 20px;
}

.footer-service .title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 12px;
}

.footer-service .desc {
    color: #666;
    font-size: 13px;
    line-height: 1.6;
    font-weight: bold;
    padding-bottom: 25px;
}

.pre-footer {
    background-image: url(http://oc06pejhd.bkt.clouddn.com/pre-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 262px;
    margin-top: 50px;
}

.item img {
    max-width: 100%;
}

.item {
    margin-bottom: 40px;
}

.item .title {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.item .title button {
    font-weight: bold;
    padding: 2px 5px;
    font-size: 13px;
    border-radius: 2px;
    margin-top: -3px;
}

.item .teacher {
    font-size: 14px;
}

@media (max-width: 768px) {
    .banner .title {
        font-size: 35px;
        letter-spacing: 3px;
        margin-top: 165px;
    }
    .banner .sub-title {
        font-size: 24px;
        font-weight: bold;
        padding-top:10px;
    }
    .banner .teacher {
        margin-top: 20px;
        text-align: center;
    }

    .footer-service .title {
        padding-bottom: 2px;
    }

    .banner .teacher, .banner .sub-title, .banner .title, .item .title, .item .teacher, .section .title {
        padding: 0 15px;
    }

    .footer-service {
        background-color: #eee;
        padding: 45px 15px 20px;
    }
}

