#token{
    width: 195px;
}

img#captcha {
    width: 100px;
    height: 27px;
    line-height: 27px;
    padding-right: 15px;
    margin-bottom: 8px;
    cursor: pointer;
}

#sms-code {
    width: 183px;
}

#btn-sms-code {
    width: 100px;
    border: solid 1px #ff7200;
    color: #ff7200;
    font-size: 12px;
    padding: 3px 1px;
    background-color: #fff;
    margin-right: 13px;
    margin-bottom: 8px;
}

#btn-sms-code.disabled {
    border-color: #ccc;
    color: #ccc;
}
