#crumb {
    font-size: 14px;
}

#more-wrapper {
    text-align: center;
    padding-bottom: 40px;
}

#more-wrapper #btn-more{
    width: 400px;
}

#filter {
    padding: 30px 0;
    margin-bottom: 30px;
    background-color: rgba(245, 245, 245, 0.95);
            backdrop-filter: blur(1px);
         -o-backdrop-filter: blur(1px);
        -ms-backdrop-filter: blur(1px);
       -moz-backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

#filter ul, #filter ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#filter ul li {
    float: left;
    padding-left: 50px;
}

#filter ul li.fisrt {
    padding-left: 0;
}

#filter ul li .cat-level-1 .cat-name {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

#filter ul li .cat-level-2 a {
    color: #000;
    text-decoration: none;
}

#filter ul li .cat-level-2 a.active {
    color: #ff7200;
    text-decoration: underline;
}

#filter #clear-wrapper {
    float: right;
    color: #3f51b5;
    line-height: 45px;
}

#filter #clear-wrapper #clear {
    color: #3f51b5;
    text-decoration: none;
}

@media (max-width: 768px) {
    #filter {
        padding: 15px 0;
    }

    #filter ul li, #filter ul li.fisrt {
        float: inherit;
        padding-left: 15px;
        margin-top: 15px;
    }

    #filter ul li.fisrt  {
        margin-top: 0;
    }

    #filter #clear-wrapper {
        padding-right: 15px;
    }
}
