<%inherit file="../_base.html"/>
<%block name="title">
授课讲师 - 
</%block>
<%block name="css">
    <link rel="stylesheet" href="${STATIC.css('teacher/index.css')}">
</%block>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">授课讲师</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">授课讲师</h3>
						<button class='btn btn-default' id="btn-upload">tet</button>
                        <button class="btn btn-sm btn-primary admin-btn-add" data-toggle="modal" data-target=".addition-modal">
                            <i class="fa fa-plus"></i> 新增讲师
                        </button>

                        <%include file="index_ops.html"/>

                    </div>
                    <!-- /.box-header -->
                    <div id="category-list">
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th>ID</th>
                                    <th>头像</th>
                                    <th>姓名</th>
                                    <th>领域</th>
                                    <th>授课类型</th>
                                    <th style="width: 135px;">操作</th>
                                </tr>
                                <tr v-for="o in li">
                                    <td>{{o.id}}</td>
                                    <td>{{o.id}}</td>
                                    <td>{{o.id}}</td>
                                    <td>{{o.name}}</td>
                                    <td>{{o.parent_}}</td>
                                    <td>
										<div class="btn-group">
											<button type="button" class="btn btn-success" v-on:click="edit(o.id)" data-toggle="modal" data-target=".edition-modal">查看简介</button>
											<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												<span class="caret"></span>
												<span class="sr-only">Toggle Dropdown</span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="#" v-on:click="edit(o.id)" data-toggle="modal" data-target=".edition-modal">查看简介</a></li>
												<li><a href="#" v-on:click="edit(o.id)" data-toggle="modal" data-target=".edition-modal">编辑</a></li>
												<li><a href="#" v-on:click="rm(o.id)">删除</a></li>
												<li v-if="o.parent == 0"><a href="#" data-toggle="modal" data-target=".addition-modal" v-on:click="add_sub(o.id)">添加子类型</a></li>
												<li class="divider"></li>
                                                <li><a href="/course?category={{o.id}}" target="_blank">该类型下课程</a></li>
											</ul>
										</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            显示 {{(page - 1) * limit + 1}} - {{page * limit}} 条， 共 {{count}} 条
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li class="disabled" v-if="page == 1">
                                    <a href="javascript: void(0);">&laquo;</a>
                                </li>
                                <li v-else>
                                    <a href="javascript: void(0);" v-on:click="prev()">&laquo;</a>
                                </li>
                                <li v-for="n in total_page" v-bind:class="n + 1 == page ? 'active' : ''">
                                    <a href="javascript: void(0);" v-on:click="pager(n + 1)">{{n + 1}}</a>
                                </li>
                                <li v-if="page == total_page" class="disabled">
                                    <a href="javascript: void(0);">&raquo;</a>
                                </li>
                                <li v-else>
                                    <a href="javascript: void(0);" v-on:click="next()">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%block name="js">
    <script src="${STATIC.js('teacher/index.js')}"></script>
</%block>
