<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="无忧学画画">
        <meta name="keywords" content="在线美术教育,美术在线教育,在线教育,美术教育,美术培训,在线培训,线上美术培训,线上美术教育,美术课程培训,在线美术课程,在线美术班,美术,教育,艺术,冲刺高考,北京美术培训,全国美术培训,学画画,画画,在线画画,在线美术,美术考前班,美术高考课程,美术培训班,北京美术培训班,北京最好的美术班,最好的在线教育网站 考前在线教育网站,考前在线教育,考前在线美术教育,考前艺术没训,考前班,考前班美术,考前班画画,免费学画画,最好的画画网站,在线学画画,无忧学画画,无忧美术"/>
        <title>
            <%block name="title">${APP}</%block>
        </title>

        <link rel="stylesheet" href="${load_css('bootstrap-3.3.5/bootstrap.min.css')}">
        <link rel="stylesheet" href="${load_css('bootstrap-custom.css')}">
        <link rel="stylesheet" href="${load_css('base.css')}">
        <%block name="css">
        </%block>
    </head>
    <body>
        <div id="page-wrapper">
            <!-- Static navbar -->
            <nav class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <span id="logo-cn">无忧学画画</span><br>
                        <span id="logo-en">51XUEHUAHUA.COM</span>
                    </a>
                </div>
                <div class="container">
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">首页</a></li>
                            <li><a href="#about">教学课程</a></li>
                            <li><a href="#contact">名师</a></li>
                            <li>
                                <a href="#contact">线下学习</a>
                                <div id="new">NEW</div>
                                <div id="triangle">&nbsp;</div>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a id="cart" href="/cart" title="购物车">&nbsp;</a>
                                <div id="cart-count">9</div>
                            </li>
                            <li>
                                <a href="buy" class="btn btn-primary">购买课程</a>
                            </li>
                            <li><a href="/register">注册账号</a>·<a href="/register">登录</a></li>
                            <li><div id="right-margin">&nbsp;</div>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
            ${next.body()}
            <div class="footer key-vision-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 copyright fn-t-align-l">
                            &copy; 2009－2016 WWW.51XUEHUAHUA.COM, ALL RIGHTS RESERVED
                        </div>
                        <div class="col-md-6 content fn-t-align-r">
                            <a href="#">怎样购买课程</a> · <a href="#">关于线下学习</a> · <a href="#">关于我们</a>
                        </div>
                    </div>
                </div>

            </div>
            <script src="${load_js('jquery-2.2.3.min.js')}"></script>
            <script src="${load_js('bootstrap-3.3.5/bootstrap.min.js')}"></script>
            <script src="${load_js('base.js')}"></script>

            <script type="text/javascript" src="//youzikuwebfont.oss-cn-beijing.aliyuncs.com/api.lib.min.js"></script>
            <script type="text/javascript">
                $youzikuapi.asyncLoad("//api.youziku.com/webfont/FastJS/yzk_F111F1F39D2ABFF4", function() {
                    $youziku.load("body", "35888bd955934149830dcffec3980cd8", "PingFangSC_R");
                    $youziku.draw();
                });
            </script>

            <%block name="js">
            </%block>
        </div>
    </body>
</html>
