<%inherit file="_base.html"/>
<%block name="css">
    <link rel="stylesheet" href="${load_css('header.css')}">
    <link rel="stylesheet" href="${load_css('index.css')}">
    <link rel="stylesheet" href="${load_css('unslider/unslider-dots.css')}">
    <link rel="stylesheet" href="${load_css('unslider/unslider.css')}">
</%block>
<div class="main-slider">
    <ul>
        <li>
            <div class="banner">
                <div class="container">
                    <div class="title">
                        冲刺美院精品课程
                    </div>
                    <div class="sub-title">
                        <span class="old-price">原价￥598</span>&nbsp;&nbsp;&nbsp;<span class="now-price">现价￥398</span>
                    </div>
                    <div class="teacher">
                        <div class="avatar">&nbsp;</div>
                        <span class="summary">
                            <b class="key-vision">樊杙</b>·中央美术学院·版画系·李靖画室讲师
                        </span>
                    <div>
                    <div class="btn-wrapper">
                        <a class="btn btn-primary btn-lg" href="/course"><b>查看课程</b>&nbsp;<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="banner">
                <div class="container">
                    冲刺美院精品课程
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <div class="section">
        <div class="title">
            最近更新
            <a href="/course" class="more">查看全部<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></a>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <img title="" src="http://oc06pejhd.bkt.clouddn.com/sample1.png">
                        <div class="title">
                            静物结构素描 · 单体素描
                            <button type="button" class="btn btn-primary btn-sm">5课时</button>
                        </div>
                        <div class="teacher">
                            <b class="key-vision">樊杙</b> · 中央美术学院 · 版画系 · 现任李靖画室讲师
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <img title="" src="http://oc06pejhd.bkt.clouddn.com/sample2.png">
                        <div class="title">
                            静物结构素描 · 单体素描
                            <button type="button" class="btn btn-primary btn-sm">5课时</button>
                        </div>
                        <div class="teacher">
                            <b class="key-vision">樊杙</b> · 中央美术学院 · 版画系 · 现任李靖画室讲师
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <img title="" src="http://oc06pejhd.bkt.clouddn.com/sample1.png">
                        <div class="title">
                            静物结构素描 · 单体素描
                            <button type="button" class="btn btn-primary btn-sm">5课时</button>
                        </div>
                        <div class="teacher">
                            <b class="key-vision">樊杙</b> · 中央美术学院 · 版画系 · 现任李靖画室讲师
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <img title="" src="http://oc06pejhd.bkt.clouddn.com/sample2.png">
                        <div class="title">
                            静物结构素描 · 单体素描
                            <button type="button" class="btn btn-primary btn-sm">5课时</button>
                        </div>
                        <div class="teacher">
                            <b class="key-vision">樊杙</b> · 中央美术学院 · 版画系 · 现任李靖画室讲师
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="title">
            热门课程
            <a href="/course" class="more">查看全部<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></a>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <img title="" src="http://oc06pejhd.bkt.clouddn.com/sample1.png">
                        <div class="title">
                            静物结构素描 · 单体素描
                            <button type="button" class="btn btn-primary btn-sm">5课时</button>
                        </div>
                        <div class="teacher">
                            <b class="key-vision">樊杙</b> · 中央美术学院 · 版画系 · 现任李靖画室讲师
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <img title="" src="http://oc06pejhd.bkt.clouddn.com/sample2.png">
                        <div class="title">
                            静物结构素描 · 单体素描
                            <button type="button" class="btn btn-primary btn-sm">5课时</button>
                        </div>
                        <div class="teacher">
                            <b class="key-vision">樊杙</b> · 中央美术学院 · 版画系 · 现任李靖画室讲师
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-service">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="title">
                    <span class="key-vision">强大的</span>师资力量
                </div>
                <div class="desc">
                    讲师均为八大美院和全国知名考前班老师, 身份学历经过专业认证, 真实专业评价度极高, 教学质量有保证
                </div>
            </div>
            <div class="col-md-4">
                <div class="title">
                    <span class="key-vision">丰富的</span>教学课程
                </div>
                <div class="desc">
                    素描、速写、油画、水粉、国画, 应有尽有，课程科目任你挑选
                </div>
            </div>
            <div class="col-md-4">
                <div class="title">
                    <span class="key-vision">安全的</span>支付方式
                </div>
                <div class="desc">
                    无忧美术与全国各大银行、支付宝、微信均有合作，支付方式安全有保证
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pre-footer">
    &nbsp;
</div>
<%block name="js">
    <script src="${load_js('unslider-min.js')}"></script>
    <script src="${load_js('index.js')}"></script>
</%block>
