<%inherit file="_base.html"/>
<%block name="css">
    <link rel="stylesheet" href="${load_css('header.css')}">
    <link rel="stylesheet" href="${load_css('index.css')}">
    <link rel="stylesheet" href="${load_css('unslider/unslider-dots.css')}">
    <link rel="stylesheet" href="${load_css('unslider/unslider.css')}">
</%block>
<div class="main-slider">
    <ul>
        <li>
            <div class="banner">
                <div class="container">
                    <div class="title">
                        冲刺美院精品课程
                    </div>
                    <div class="sub-title">
                        <span class="old-price">原价￥598</span>&nbsp;&nbsp;&nbsp;<span class="now-price">现价￥398</span>
                    </div>
                    <div class="teacher">
                        <div class="avatar">&nbsp;</div>
                        <span class="summary">
                            <b class="key-vision">樊杙</b>·中央美术学院·版画系·现任李靖画室讲师
                        </span>
                    <div>
                    <div class="btn-wrapper">
                        <a class="btn btn-primary btn-lg" href="/course"><b>查看课程</b>&nbsp;<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="banner">
                <div class="container">
                    冲刺美院精品课程
                </div>
            </div>
        </li>
    </ul>
</div>
<%block name="js">
    <script src="${load_js('unslider-min.js')}"></script>
    <script src="${load_js('index.js')}"></script>
</%block>
