<%inherit file="_base.html"/>
<%block name="title">登录 - ${APP}</%block>
<%block name="css">
    <link rel="stylesheet" href="${load_css('fonts/font-awesome.min.css')}">
    <link rel="stylesheet" href="${load_css('login.css')}">
</%block>
<div id="content">
    <div id="login-section">
        <div id="header">
            <div class="row">
                <div class="col-md-6">
                    <div class="title-wrapper active">
                        <a href="/login" class="title">
                            登录已有账号
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title-wrapper">
                        <a href="reg" class="title">
                            手机快速注册
                        </a>
                    </div>
                </div>
            </div>
            <i class="fa fa-times-circle" id="btn-close" aria-hidden="true"></i>
        </div>
        <div id="form-wrapper">
            <form>
                <div class="form-group">
                    <div class="input">
                        <span class="glyphicon glyphicon-user icon-user"></span>
                        <input type="text" class="form-control" name="user_name" id="user_name" placeholder="手机号码/用户名"  aria-describedby="inputError2Status">
                    </div>
                    <span class="error-msg"> </span>
                </div>
                <div class="form-group">
                    <div class="input">
                        <i class="fa fa-key icon-user" aria-hidden="true"></i>
                        <input type="password" class="form-control" name="password" id="password" placeholder="密码">
                    </div>
                    <span class="error-msg"> </span>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="btn-login">登 录</button>
                </div>
                <div>
                    <span id="remember-me">
                        <input type="checkbox"> 下次自动登录
                    </span>
                    <span id="forget">
                        <a href="">忘记密码?</a>
                    </span>
                </div>
            </form>
            <div class="fn-clear-f"></div>
            <hr>

            <div id="oauth-title">
                合作网站登录
            </div>
            <div id="oauth-wrapper">
                <a href="">
                    <img src="http://oc06pejhd.bkt.clouddn.com/oauth-qq.png" title="QQ 登录">
                </a>
                <a href="">
                    <img src="http://oc06pejhd.bkt.clouddn.com/oauth-weibo.png" title="微博登录">
                </a>
            </div>
        </div>
    </div>
</div>
<%block name="js">
    <script src="${load_js('login.js')}"></script>
</%block>
