<%inherit file="_base.html"/>
<%block name="title">登录 - ${APP}</%block>
<%block name="css">
    <link rel="stylesheet" href="${load_css('fonts/font-awesome.min.css')}">
    <link rel="stylesheet" href="${load_css('login.css')}">
</%block>
<div id="content">
    <div id="login-section">
        <div id="header">
            <div class="row">
                <div class="col-md-6">
                    <div class="title-wrapper active">
                        <a href="/login" class="title">
                            登录已有账号
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title-wrapper">
                        <a href="reg" class="title">
                            手机快速注册
                        </a>
                    </div>
                </div>
            </div>
            <i class="fa fa-times-circle" id="btn-close" aria-hidden="true"></i>
        </div>
        <div id="form-wrapper">
            <form>
                <div class="form-group">
                    <div class="input">
                        <input type="text" class="form-control" name="user_name" id="user_name" place_holder="请输入用户名"  aria-describedby="inputError2Status">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input">
                        <input type="password" class="form-control" name="password" id="password" place_holder="请输入密码">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="btn-login">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%block name="js">
    <script src="${load_js('login.js')}"></script>
</%block>
